@import "pallete";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
body {
    background-color: $background;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@mixin titleSection {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
}

@mixin dot {
    width: 12px;
    height: 12px;
    background-color: $green;
    border-radius: 104px;
    margin: 0 7px;
}

// float button
.float-button {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: $hover;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    .icon {
        color: $font;
        font-size: 1.8rem;
        margin: 5px;
    }
}

// float button
// navbar
nav {
    .logo {
        width: 75px;
    }
    .navbar-collapse {
        background-color: $card;
        transition: 1s;
        padding: 20px 0;
    }
    .nav-item {
        margin: 20px auto;
        color: $font;
        font-size: 1.4rem;
    }
    a.download {
        .download-cv {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 120px;
            background-color: $green;
            margin: 0 auto;
            width: max-content;
            height: 50px;
            font-size: 1.2rem;
            padding: 6px 20px;
            .text {
                color: $font;
            }
            .icon {
                color: $font;
                font-size: 1.4rem;
                animation: icon 1s infinite;
                margin: 0 4px;
            }
            @keyframes icon {
                0% {
                    margin-top: -20px;
                }
                100% {
                    margin-top: 0;
                }
            }
        }
    }
}

// navbar
// hero
.hero.small {
    margin: 50px 0;
    .decoration {
        width: 520px;
        height: 520px;
        border-radius: 300px;
        position: absolute;
        top: 94%;
        left: -360px;
        background-color: $decoration;
        z-index: -1;
    }
    p.title {
        color: $font;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 30px;
        span {
            color: $green;
        }
    }
    p.desc {
        color: $font;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
    a .email {
        margin-top: 15px;
        color: $font;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $green;
        .logo {
            margin: 0 6px;
            font-size: 1.4rem;
            animation: icon 1s infinite;
        }
        .text {
            font-size: 1rem;
            letter-spacing: 1px;
        }
    }
}

.hero.large {
    display: none;
}

// hero
// project
.konten {
    margin: 80px 0;
    color: $font;
    .title {
        display: flex;
        align-items: center;
        .item {
            @include titleSection();
        }
        .dot {
            @include dot();
        }
    }
    .card {
        margin: 25px auto;
        background-color: $card;
        .footer.login {
            display: flex;
            justify-content: end;
            .btn-login {
                margin: 30px 0;
                background-color: $green;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font;
                padding: 10px 20px;
                &:hover {
                    background-color: $hover;
                }
                .icon {
                    margin: 0 4px;
                    font-size: 1.4rem;
                }
                .text {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            .tombol {
                margin: 30px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $green;
                color: $font;
                padding: 10px 20px;
                &:hover {
                    background-color: $hover;
                }
                .icon {
                    margin: 0 4px;
                    font-size: 1.4rem;
                }
                .text {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }
        }
    }
}

// project
// skills
.skills .core {
    margin: 25px 0;
    background-color: $card;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    .icon {
        background-color: $card;
        button {
            background-color: 0;
            border: 0;
            img {
                width: 75%;
                margin: 10px auto;
            }
        }
    }
}

// skills
// sosmed
.sosmed {
    .main {
        margin: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 80%;
        .icon {
            color: $font;
            font-size: 2.5rem;
        }
    }
}

// decoration-bottom
.decoration-bottom {
    width: 350px;
    height: 350px;
    background-color: $decoration;
    border-radius: 1000px;
    position: fixed;
    bottom: 15px;
    z-index: -3;
    left: 270px;
}

// decoration-bottom
// sosmed
// responsive
@media (min-width:767px) and (max-width:1022px) {
    // float button
    .float-button {
        width: 58px;
        height: 58px;
        bottom: 30px;
        right: 35px;
        .icon {
            font-size: 2rem;
            margin: 10px;
        }
    }
    // float button
    // disable hero for small
    .hero.small {
        display: none;
    }
    // enable hero large
    .hero.large {
        display: block;
        margin: 50px 0;
        .decoration {
            width: 620px;
            height: 620px;
            border-radius: 300px;
            position: absolute;
            top: 20%;
            left: -410px;
            background-color: $decoration;
            z-index: -1;
        }
        p.title {
            color: $font;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 30px;
            span {
                color: $green;
            }
        }
        p.desc {
            color: $font;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 300;
        }
        .foto {
            margin-left: 50px;
            margin-top: 40px;
            img {
                width: 110%;
                margin: 0 auto;
            }
        }
        a .email {
            margin-top: 15px;
            color: $font;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: $green;
            width: 60%;
            .logo {
                margin: 0 6px;
                font-size: 1.4rem;
                animation: icon 1s infinite;
            }
            .text {
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
    }
    // skills
    .skills .core {
        flex-wrap: nowrap;
    }
    // sosmed
    .sosmed {
        .main {
            width: 60%;
        }
        .icon {
            &hover {
                color: $green;
            }
        }
    }
    // decoration-bottom
    .decoration-bottom {
        width: 450px;
        height: 450px;
        bottom: 2px;
        z-index: -3;
        left: 560px;
    }
}

@media (min-width:1024px) {
    // float button
    .float-button {
        width: 48px;
        height: 48px;
        bottom: 35px;
        right: 35px;
        .icon {
            margin: 8px;
        }
    }
    // float button
    // navbar
    nav {
        .logo {
            width: 75px;
        }
        .navbar-collapse {
            background-color: $background;
            transition: 0s;
        }
        .nav-item {
            margin: 0 25px;
            font-size: 1rem;
            letter-spacing: 2px;
            &:hover::after {
                content: '';
                border: 1px solid $hover;
                display: block;
                margin-bottom: -10px;
                animation: navitem .5s forwards;
            }
            @keyframes navitem {
                0% {
                    width: 0%;
                }
                100% {
                    width: 100%;
                }
            }
        }
        a.download {
            .download-cv {
                margin-top: 0;
                margin: 0;
                height: 45px;
                font-size: .9rem;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 0 10px;
                &:hover {
                    background-color: $hover;
                }
                .icon {
                    color: $font;
                    font-size: 1rem;
                }
            }
        }
    }
    // navbar
    // disable hero for small
    .hero.small {
        display: none;
    }
    // enable hero large
    .hero.large {
        display: block;
        margin: 30px 0;
        .decoration {
            width: 720px;
            height: 720px;
            border-radius: 1000px;
            position: absolute;
            top: 24%;
            left: -370px;
            background-color: $decoration;
            z-index: -1;
        }
        p.title {
            color: $font;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 30px;
            span {
                color: $green;
            }
        }
        p.desc {
            color: $font;
            font-size: 1.5rem;
            letter-spacing: 0;
            font-weight: 300;
            margin: 20px 0;
            line-height: 42px;
        }
        .foto {
            margin-left: 75px;
            margin-top: 40px;
            img {
                width: 95%;
                margin: 0 auto;
            }
        }
        a .email {
            color: $font;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 35%;
            background-color: $green;
            &:hover {
                background-color: $hover;
            }
            .logo {
                margin: 0 6px;
                font-size: 1.4rem;
                animation: icon 1s infinite;
            }
            .text {
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
    }
    // sosmed
    .sosmed {
        .main {
            width: 40%;
        }
        .icon {
            &:hover {
                color: $green;
            }
        }
    }
    // decoration-bottom
    .decoration-bottom {
        width: 450px;
        height: 450px;
        bottom: 2px;
        z-index: -3;
        left: 1160px;
    }
}

// responsive