@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
body {
  background-color: #201F1F;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.float-button {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #50AE16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
}

.float-button .icon {
  color: #fff;
  font-size: 1.8rem;
  margin: 5px;
}

nav .logo {
  width: 75px;
}

nav .navbar-collapse {
  background-color: #252525;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 20px 0;
}

nav .nav-item {
  margin: 20px auto;
  color: #fff;
  font-size: 1.4rem;
}

nav a.download .download-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
  background-color: #59C714;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  font-size: 1.2rem;
  padding: 6px 20px;
}

nav a.download .download-cv .text {
  color: #fff;
}

nav a.download .download-cv .icon {
  color: #fff;
  font-size: 1.4rem;
  -webkit-animation: icon 1s infinite;
          animation: icon 1s infinite;
  margin: 0 4px;
}

@-webkit-keyframes icon {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes icon {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}

.hero.small {
  margin: 50px 0;
}

.hero.small .decoration {
  width: 520px;
  height: 520px;
  border-radius: 300px;
  position: absolute;
  top: 94%;
  left: -360px;
  background-color: #1C1C1C;
  z-index: -1;
}

.hero.small p.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 30px;
}

.hero.small p.title span {
  color: #59C714;
}

.hero.small p.desc {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero.small a .email {
  margin-top: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #59C714;
}

.hero.small a .email .logo {
  margin: 0 6px;
  font-size: 1.4rem;
  -webkit-animation: icon 1s infinite;
          animation: icon 1s infinite;
}

.hero.small a .email .text {
  font-size: 1rem;
  letter-spacing: 1px;
}

.hero.large {
  display: none;
}

.konten {
  margin: 80px 0;
  color: #fff;
}

.konten .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.konten .title .item {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.konten .title .dot {
  width: 12px;
  height: 12px;
  background-color: #59C714;
  border-radius: 104px;
  margin: 0 7px;
}

.konten .card {
  margin: 25px auto;
  background-color: #252525;
}

.konten .card .footer.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.konten .card .footer.login .btn-login {
  margin: 30px 0;
  background-color: #59C714;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px 20px;
}

.konten .card .footer.login .btn-login:hover {
  background-color: #50AE16;
}

.konten .card .footer.login .btn-login .icon {
  margin: 0 4px;
  font-size: 1.4rem;
}

.konten .card .footer.login .btn-login .text {
  font-size: 1.1rem;
  font-weight: 300;
}

.konten .card .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.konten .card .footer .tombol {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #59C714;
  color: #fff;
  padding: 10px 20px;
}

.konten .card .footer .tombol:hover {
  background-color: #50AE16;
}

.konten .card .footer .tombol .icon {
  margin: 0 4px;
  font-size: 1.4rem;
}

.konten .card .footer .tombol .text {
  font-size: 1.1rem;
  font-weight: 300;
}

.skills .core {
  margin: 25px 0;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.skills .core .icon {
  background-color: #252525;
}

.skills .core .icon button {
  background-color: 0;
  border: 0;
}

.skills .core .icon button img {
  width: 75%;
  margin: 10px auto;
}

.sosmed .main {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sosmed .main .icon {
  color: #fff;
  font-size: 2.5rem;
}

.decoration-bottom {
  width: 350px;
  height: 350px;
  background-color: #1C1C1C;
  border-radius: 1000px;
  position: fixed;
  bottom: 15px;
  z-index: -3;
  left: 270px;
}

@media (min-width: 767px) and (max-width: 1022px) {
  .float-button {
    width: 58px;
    height: 58px;
    bottom: 30px;
    right: 35px;
  }
  .float-button .icon {
    font-size: 2rem;
    margin: 10px;
  }
  .hero.small {
    display: none;
  }
  .hero.large {
    display: block;
    margin: 50px 0;
  }
  .hero.large .decoration {
    width: 620px;
    height: 620px;
    border-radius: 300px;
    position: absolute;
    top: 20%;
    left: -410px;
    background-color: #1C1C1C;
    z-index: -1;
  }
  .hero.large p.title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .hero.large p.title span {
    color: #59C714;
  }
  .hero.large p.desc {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .hero.large .foto {
    margin-left: 50px;
    margin-top: 40px;
  }
  .hero.large .foto img {
    width: 110%;
    margin: 0 auto;
  }
  .hero.large a .email {
    margin-top: 15px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    background-color: #59C714;
    width: 60%;
  }
  .hero.large a .email .logo {
    margin: 0 6px;
    font-size: 1.4rem;
    -webkit-animation: icon 1s infinite;
            animation: icon 1s infinite;
  }
  .hero.large a .email .text {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .skills .core {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .sosmed .main {
    width: 60%;
  }
  .sosmed .iconhover {
    color: #59C714;
  }
  .decoration-bottom {
    width: 450px;
    height: 450px;
    bottom: 2px;
    z-index: -3;
    left: 560px;
  }
}

@media (min-width: 1024px) {
  .float-button {
    width: 48px;
    height: 48px;
    bottom: 35px;
    right: 35px;
  }
  .float-button .icon {
    margin: 8px;
  }
  nav .logo {
    width: 75px;
  }
  nav .navbar-collapse {
    background-color: #201F1F;
    -webkit-transition: 0s;
    transition: 0s;
  }
  nav .nav-item {
    margin: 0 25px;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  nav .nav-item:hover::after {
    content: '';
    border: 1px solid #50AE16;
    display: block;
    margin-bottom: -10px;
    -webkit-animation: navitem .5s forwards;
            animation: navitem .5s forwards;
  }
  @-webkit-keyframes navitem {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes navitem {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  nav a.download .download-cv {
    margin-top: 0;
    margin: 0;
    height: 45px;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  nav a.download .download-cv:hover {
    background-color: #50AE16;
  }
  nav a.download .download-cv .icon {
    color: #fff;
    font-size: 1rem;
  }
  .hero.small {
    display: none;
  }
  .hero.large {
    display: block;
    margin: 30px 0;
  }
  .hero.large .decoration {
    width: 720px;
    height: 720px;
    border-radius: 1000px;
    position: absolute;
    top: 24%;
    left: -370px;
    background-color: #1C1C1C;
    z-index: -1;
  }
  .hero.large p.title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .hero.large p.title span {
    color: #59C714;
  }
  .hero.large p.desc {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 300;
    margin: 20px 0;
    line-height: 42px;
  }
  .hero.large .foto {
    margin-left: 75px;
    margin-top: 40px;
  }
  .hero.large .foto img {
    width: 95%;
    margin: 0 auto;
  }
  .hero.large a .email {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 35%;
    background-color: #59C714;
  }
  .hero.large a .email:hover {
    background-color: #50AE16;
  }
  .hero.large a .email .logo {
    margin: 0 6px;
    font-size: 1.4rem;
    -webkit-animation: icon 1s infinite;
            animation: icon 1s infinite;
  }
  .hero.large a .email .text {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .sosmed .main {
    width: 40%;
  }
  .sosmed .icon:hover {
    color: #59C714;
  }
  .decoration-bottom {
    width: 450px;
    height: 450px;
    bottom: 2px;
    z-index: -3;
    left: 1160px;
  }
}
/*# sourceMappingURL=style.css.map */